alembic==1.7.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.0.0
databricks-cli==0.16.6
-e git+https://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@github.com/phelps-matthew/dl-schema@5f90c38f8d6dd07a41559455451b27bf6f08c7b9#egg=dl_schema
docker==5.0.3
entrypoints==0.4
Flask==2.1.2
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.0
MarkupSafe==2.1.1
mlflow==1.25.1
mypy-extensions==0.4.3
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
protobuf==3.20.1
PyJWT==2.3.0
pyparsing==3.0.8
pyrallis==0.3.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
querystring-parser==1.2.4
requests==2.27.1
scipy==1.8.0
six==1.16.0
smmap==5.0.0
SQLAlchemy==1.4.36
sqlparse==0.4.2
tabulate==0.8.9
torch==1.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.64.0
typing-inspect==0.7.1
typing_extensions==4.2.0
urllib3==1.26.9
websocket-client==1.3.2
Werkzeug==2.1.2
zipp==3.8.0
